#main-doc {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

.main-section {
  width: 100%;
}

#navbar {
  position: fixed;
  min-width: 290px;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  border-right: solid;
  border-color: rgba(0, 22, 22, 0.4);
}

@media screen and (max-width: 720px) {
  body {
    background-color: lightgreen;
  }
}
